[Unit]
Description=Do It Yourself Home Automation SSD1306 OLED display process
After=multi-user.target
[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/local/oled/oled.py --mq MQTTBROKERSERVER --lt LOCATIONTOPIC --ws djangowebserver
[Install]
WantedBy=multi-user.target
